<template name="header">
  <nav class="navbar navbar-default"
       style="{{#if currentUser}}style=background-color:#F79220;{{/if}}">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"
           href="#"
           style="{{#if currentUser}}style=color:#FFFFFF;{{/if}}">
           Ethereum MetaMask Login Demo
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav"
            >
          {{#if currentUser}}
          {{else}}
          <li class="active"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
          {{/if}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>
