<template name="loginModal">
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <!--
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login with Metamask</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        -->
        <div class="modal-body">
          {{#if foundWeb3}}
          <button id="LoginButtonMM">Login with MetaMask</button>
          {{else}}
          <h4>
            Could not find Web3 ->
            Please install <a href="https://metamask.io/" target="_blank">MetaMask</a>
          </h4>
          {{/if}}
        </div>
        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        -->
      </div>
    </div>
  </div>
</template>
